@import url('https://fonts.googleapis.com/css?family=Monoton|Helvetica|Montserrat|Play:400,700|Unica+One&display=swap');


.banner_show {
  margin-bottom: 56px;
}


.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #34623F;
  margin-top: 10px;
  // margin-bottom: 12px;
  align-items: center;

  .box-overlay {
    height: 10px;
  }

.box-units {
  width: 100%;
  display: flex;
}

}
#available_units {
    background-color: transparent;
    position: relative;
    bottom: 16px;
    left: -558px;
    padding: 0 12px;
    width: 250px;
    font-family: 'Play', sans-serif;
    font-size: 26px;

  }

.card-unit-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(17,43,14, 0.3);
  border-radius: 4px;
  // width: 200px;
  // height: 150px;

  // &:hover {

  // }
  width: 240px;
  height: 260px;

    &:hover {
      box-shadow: 0 0 15px rgba(17,43,14, 0.5);
      // border: 2px solid #112B0E;
    }


  img {
    width: 100%;
    height: 80%;
    object-fit: cover;

    &:hover {
      text-decoration: none;
    }
  }
}


.cards-units {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 0 16px;
  flex-grow: 1;
  margin-bottom: 22px;

    a:hover {
      text-decoration: none;
    }
}


.card-unit-infos {
padding: 15px;
font-family: 'Helvetica';
color: rgba(50,50,50,0.9);

  &:hover {
    text-decoration: none;
  }

  i {
    font-size: 16px;
    // margin-top: 7px;
  }

  p {
    margin-top: 5px;
    color: black;

    &:hover {
    text-decoration: none;
    }
  }
}

.card-unit:hover {
  width: 110%;
  height: 110%;

}
.container .category i {
  font-size: 37px;
  margin-top: 22px;
}

#map {
  height: 100vh;
  // padding-top: 16px;
  position: sticky;
  top: 0;
}

