<header>
  <div class="overlay">
  </div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/dg9pw0yun/video/upload/v1567955835/squad_banner_gfwee4.mp4" type="video/mp4">
    </video>
    <div class="container h-100">

      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">airTNT</h1>
          <div class="banner-p d-flex justify-content-center">
            <p class="lead mb-0">Authentic local paramilitary units. <span>At your command.</span></p>
          </div>
          <!-- <a class="btn btn-gradient mt-5" href="#">create an account</a> -->
        </div>
      </div>
    </div>
  </header>

  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div id="pitch-for-customers">
            <h4>"Sometimes, words are enough. For all other times, airTNT."<h4>
            <p></p>
            <p>We know how hard it is to be locked in conflict seemingly forever. Our mission is to help people all around the globe solve their problems quickly and efficiently, while supporting local paramilitary units.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div id="pitch-for-units">
              <p>Are you ready to change the world of conflict resolution?</p>
              <p>Create a unit today!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
