<div class="box">
  <div class="box-overlay">
    <h4>Categories</h4>
  </div>

  <div class="container d-flex w-100 justify-content-between mb-3">
    <a class="btn btn-gradient mt-5" href="#">Category 1</a>
    <a class="btn btn-gradient mt-5" href="#">Category 2</a>
    <a class="btn btn-gradient mt-5" href="#">Category 3</a>
  </div>


  <div class="cards">
    <% @units.each do |unit| %>
      <div class="card">
      <img src="<%= unit.photo %> " alt="">
      <%= unit.category %>
      </div>
    <% end %>
  </div>

    </div>
  </div>

</div>







  <!--   <div class="row">
      <div class="col-md-8 mx-auto">
        <p>The HTML5 video element uses an mp4 video as a source. Change the source video to add in your own background! The header text is vertically centered using flex utilities that are build into Bootstrap 4.</p>
        <p>The overlay color can be changed by changing the <code>background-color</code> of the <code>.overlay</code> class in the CSS.</p>
        <p>Set the mobile fallback image in the CSS by changing the background image of the header element within the media query at the bottom of the CSS snippet.</p>
        <p class="mb-0">
          Created by <a href="https://startbootstrap.com">Start Bootstrap</a>
        </p>
      </div>
    </div> -->
