<div class="card_landing">
  <div class="pitch" id="pitch-for-units" style="text-align: center;">
    <div>
      <h4 class="pitch-title m-3 mr-5"><span style="color: white;", id ="pitch-text">Sometimes, words are enough.</h4>
      <h4 class="pitch-title m-3 mr-5"><span style="color: white;", id ="pitch-text">For all other times,</span> airTNT.</h4>
      <p></p>
      <p><%= link_to "Choose a Unit",units_path, class: "btn btn-primary"  %></p>
    </div>
  </div>
</div>

<!-- <div class="text_banner">
  <p></p>
  <p>We offer a wide range of professional units.</p>
</div> -->


<div class="box-scroll">s
  <div class="cards-scroll">
    <% @units.each do |unit| %>
    <%= link_to unit_path(unit) do  %>

    <div class="unit-card" >
      <div class="view overlay mask rgba-red-light">
        <img src="<%= unit.photo %> " alt="photo">
        <p id="category pt-5"><%= unit.category %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>




<!-- <p id="controlls"><<  >></p> -->

<!-- overflow-x: scroll;
  overflow-y: hidden; -->
