<h1 class="text-center">Dashboard</h1>
<div>
<h2>Personal details</h2>
<h4><b>Name: <span id="nofont"><%=current_user.name%></span></h4>
<h4>Email: <span id="nofont"><%=current_user.email%></span></h4>
<button type="button" class="btn btn-primary">Change password</button>
</div>

<div><h2> My Bookings </h2></div>
</div><h2> My Units </h2></div>
