.card-box a {
  text-decoration: none;
}

.cards_booking {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;

}

.title {
 color: #112B0E;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}
.card_booking {
  border: 1px solid black;
  width: 400px
}

@media(max-width: 992px) {
  .cards_booking {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards_booking {
    grid-template-columns: 1fr;
  }
}

.category {
  text-align: center;

  &:hover {
    color: #418700;
    cursor: pointer;
  }

  p {
    font-size: 16px;
    font-family: 'Play', sans-serif;
    margin-top: 8px;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(17,43,14, 0.4);
  border-radius: 4px;


}


.card-trip img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
