@import url('https://fonts.googleapis.com/css?family=Monoton|Play:400,700|Unica+One&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



.navbar-brand h2 {
  font-family: 'Monoton', cursive;
  font-size: 24px;
  color: #34623F;
}
