@import url('https://fonts.googleapis.com/css?family=Monoton|Play:400,700|Unica+One&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: #112B0E;
  color: white;
  border-bottom: 1px solid #21FF19;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



.navbar-brand h2 {
  font-family: 'Monoton', cursive;
  font-size: 24px;
  color: #34623F;
}

.navbar-nav li {
    color: white;
    margin: 0 21px;
    font-family: 'Play', sans-serif;
    font-size: 17px;
    font-style: white;
    padding: 0 5px;

    &:hover {
      border: 1px solid #21FF19;
      border-radius: 5px;

    }
}

#avatar_img  {
  border: none;
}


