.add {
  background-position: center !important;
}

.new-booking-container {
}

.new-form-banner {
  position: relative;
  height: 350px
}

.form-container {
  position: absolute;
  left: 100px;
  top: -205px;
}
