@import url('https://fonts.googleapis.com/css?family=Monoton%7CPlay:400,700%7CUnica+One&display=swap');

.pitch {
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 2px #000;
}


.pitch-title {
  color:red;
 font-size: 30px;

}

.pitch-image {
  object-fit: cover;
}

#pitch-text {
  color: white;
  text-align: center;
}

#pitch-for-units {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#airtnt-text {
  font-family: 'Monoton', cursive;
}

#create-unit-pitch {
  margin-left: 111px;
}