.btn-primary {
    color: white;
    border-color: white;
    background-color: transparent;
}


.info_form {

   background: white ;
   color: black;
   border-color: #112B0E;
    border-radius: 4px ;
    padding: 32px ;
    padding-bottom: 24px ;
    width: 641px ;
    box-shadow: 0 0 15px rgba(17,43,14, 0.4);
}

.title_show {
  color: white;
}


.show-container {
  height: 460px;
  position: relative;
}

.absolute-container {
  position: absolute;
  left: 150px;
  top: -205px;
}

.titles {
font-family: 'Play', sans-serif;
font-size: 25px;
 color: #112B0E;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


