<div class='banner_new_unit add' style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(1,1,1,0.5)), url('http://photorecon.net/wp-content/gallery/breitling-jet-team-2015-tour/0b-pilots-bjt.jpg')">
  <div class="container">
    <h1 class='mt-3 title text-white'>Become a unit</h1>
  </div>

  <div class="container mb-4">
    <%= render 'form', unit: @unit %>
  </div>
</div>


